/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	/*min-width: 1307px;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
	font-size: 16px;
	/*Base-width for percentages in 1440px*/
}
a{
	text-decoration: none;
}









body{
	background-color: black;
}
.homeHead{
/*	opacity: 0;*/
	width: 100%;
	background-color: black;
}
h1{
	color: white;
	text-align: center;
}
h1 span{
	letter-spacing: 0px;
}
.homeHead header{
	padding-top: 40px;
	padding-bottom: 40px;
}
.homeHead header h1{
	font-size: 110px;
	font-family: 'novecento_sans_wide_bookbold', sans-serif;
	letter-spacing: 50px;
}
#homeSec1{
	width: 1019px;
	background-color: black;
	text-align: center;
	margin: 0 auto;
}

#homeImg{
	width: 500px;
	display: inline-block;
	opacity: 0;
}
#homeImg img{
	width: 100%;
}
.sec1Container .imgContainer{
	display: inline-block;
	margin-left: -167px;
}
#homeNav{
	display: inline-block;

	margin-left: 10px;
	text-align: left;
	float: left;
}
li{
	color: white;
	font-family: 'novecento_sans_widebook', arial;
	font-size: 16px;
	letter-spacing: 11px;
	margin-bottom: 95px;
}
li.lastItem{
	margin-bottom: 0px;
}
#homeli, #musicli, #bioli, #tourli, #contactli{
		margin-left: -530px;
}
.filler{
	width: 158px;
	height: 1px;
}
#homeMusic{
	width: 659px;
}
#homeTour{
	margin-left: 25px;
	width: 327px; 
}
.homeSubSec{
	margin-top: 70px;
	display: inline-block;
	float: left;
}
.homeSubSec header{
	height: 50px;
	background-color: white;
}
#homeSec2{
	height: 500px;
}
h2{
	font-family: 'novecento_sans_widedemibold', arial;
	font-size: 34px;
	letter-spacing: 26px;
	padding-top: 7.5px;
	text-align: center;
}
h2 span{
	letter-spacing: 0px;
}
.soundCPlayer{
	margin-top: 20px;
}
.tourDiv{
	clear: both;
	margin-top: 20px;
	height: 120px;
}
.tourDate{
	display: inline-block;
	float: left;
	width: 60px;
	height: 60px;
	background-color: white;
}
.tourInfo{
	display: inline-block;
	color: white;
	width: 230px;
	font-family: 'Sanchez';
	line-height: 21px;
	font-size: 15.4px;
}
.day{
	font-size: 35px;
	margin-top: 2px;
	font-family: 'Sanchez';
}
.month{
	font-family: 'Sanchez';

}
.buyTix{
	background-color: white;
	height: 20px;
	width: 56%;
	display: inline-block;
	margin-top: 5px;
	color: black;
	font-family: 'novecento_sans_widedemibold', arial;
}














footer{
	width: 100%;
	height: 40px;
	background-color: black;
	clear: both;
}





/*music Page*/

#musicMusic{
	width: 775px;
}
.musicSubSec{
	margin-top: 0px;
	display: inline-block;
	float: left;
}
.musicSubSec header{
	height: 50px;
	background-color: white;
}
.musicContainer{
	display: inline-block;
	margin-left: 61px;
}





/*bio Page*/
.bioInfo{
	color: white;
	font-family: 'Sanchez';
	line-height: 21px;
	font-size: 15.4px;
	margin-top: 20px;
}



/*tour Page*/



.tourSubSec .tourDiv .tourInfo{
	width: 80%;
	display: inline-block;
	text-align: left;
}
.tourSubSec .tourDiv .tourDate{
	width: 69px;
	height: 69px;
	margin-top: 6px;
	margin-bottom: 55px;
}
.tourSubSec .tourDiv .tourDate .day{
	font-size: 40px;
	margin-top: 4px;
}
.tourSubSec .tourDiv .tourDate .month{
	font-size: 18px;
}
.tourSubSec .tourDiv .buyTix{
	width: 36%;
}
.tourSubSec .tourDiv .buyTix p{
	margin-top: 2.4px;
}

/*contact Page*/
.bioInfo span{
	font-size: 20px;
}

















@media screen and (max-width: 1175px){
	#homeSec1{
		width: 930px;
	}
	.homeHead header{
		padding-top: 10px;
		padding-bottom: 20px;
	}
	.homeHead header h1{
		font-size: 120px;
		letter-spacing: 32px;
	}
	#homeMusic{
		width: 100%;
	}
	#homeTour{
		width: 100%;
		margin-left: 0px;
	}
	.tourInfo{
		width: 60%;
	}
	#musicMusic{
		width: 685px;
	}
}
@media screen and (max-width: 955px){
	#homeSec1{
		width: 580px;
	}
	#homeNav{
		display: none;
	}
	.sec1Container .imgContainer{
		margin-left: 0;
	}
	.homeHead header h1{
		letter-spacing: 28px;
		line-height: 115px;
	}
	.homeHead div{
		height: 33px;
		width: 87%;
		margin: 0 auto;
		background-color: white;
		margin-bottom: 20px;
		margin-top: -10px;
	}
	#musicMusic{
		width: 579px;
	}
	.musicContainer{
		margin-left: 0px;
	}
}
@media screen and (max-width: 660px){
	#homeSec1{
		width: 515px;
	}
	.homeHead header h1{
		font-size: 113px;
		letter-spacing: 24px;
		line-height: 106px;
	}
	#homeImg{
		width: 463px;
	}
	.homeHead div{
		height: 32px;
		width: 90%
	}
	#musicMusic{
		width: 464px;
	}
}

@media screen and (max-width: 520px){
	#homeSec1{
		width: 393px;
	}
	.homeHead header h1{
		font-size: 99px;
		letter-spacing: 15px;
		line-height: 99px;
	}
	#homeImg{
		width: 383px;
	}
	.homeHead div{
		height: 30px;
		width: 97%
	}
	#musicMusic{
		width: 380px;
	}
}
@media screen and (max-width: 440px){
	#homeSec1{
		width: 393px;
	}
	.homeHead header h1{
		font-size: 89px;
		letter-spacing: 14px;
		line-height: 86px;
	}
	#homeImg{
		width: 346px;
	}
	.homeHead div{
		height: 20px;
		width: 89%;
		margin-top:-15px;
	}
	#musicMusic{
		width: 346px;
	}
}




